*{
    margin: 0;
    padding: 0;
    
}






.my-nav{
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); 

}


.theme-menu > li{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px;
    
}

.theme-menu a.active {
    color: #ee2842 !important;
}

.theme-menu a {
    color: #000;
}

.theme-search{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center; 
}


.theme-search > button{
    border-radius: 20px;
    background-color: #ee2842;
    color: #fff;
    padding: 0 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 5px;

}

.theme-search > button:hover{
    background-color: #ee2842;
    color: #fff;
}


@media olny screen and (max-width: 992px){
    text-align: center; 
}
    
.theme-menu > li{
    margin-left: 0;

}

.theme-search > {
    width: 300px;    
    
    
}

.theme-search > input{
    width: 100%;
    
}

.theme-search > button{
    margin-top: 10px;
    padding: 10px;
    width: 300px;
    margin-left: 0px;   


}

.sliderr{
    width: 900px;
    height: 1200px;
    margin: auto;
    


}